<tr class="fileline">
<td class="name">
<a href=##path##>
<!--
<img src="/static/coal-folder.png" alt="dir."/> executor/
-->
##path##
</a>
<a href=##path##>

</a>
</td>
<td class="size">##size##</td>
<td class="permissions">##perms##</td>
</tr>
