<tr class="fileline">
<td class="filename">
<a href= ##filepath## >
<!--
<img src="/static/coal-file.png" alt="file"/> ##filename##
-->
##filename##
</a>
</td>
<td class="size">##size##</td>
<td class="permissions">##perms##</td>
</tr>
